In [1]:
import pandas as pd
df = pd.DataFrame([
    ['red', 'A', 'S', 'hot'],
    ['blue', 'A', 'M', 'cold'],
    ['green', 'B', 'M', 'cold'],
    ['blue', 'C', 'L', 'hot']
])
df.columns=['color', 'type', 'size', 'temp']

In [2]:
df

   color type size  temp
0    red    A    S   hot
1   blue    A    M  cold
2  green    B    M  cold
3   blue    C    L   hot

In [3]:
from sklearn.preprocessing import LabelEncoder
size_le = LabelEncoder()
D = df.values
D[:,2] = size_le.fit_transform(D[:,2])

In [4]:
D

array([['red', 'A', 2, 'hot'],
       ['blue', 'A', 1, 'cold'],
       ['green', 'B', 1, 'cold'],
       ['blue', 'C', 0, 'hot']], dtype=object)

In [9]:
pd.get_dummies (df)

,color_blue,color_green,color_red,type_A,type_B,type_C,size_0,size_1,size_2,temp_cold,temp_hot
0,0,0,1,1,0,0,0,0,1,0,1
1,1,0,0,1,0,0,0,1,0,1,0
2,0,1,0,0,1,0,0,1,0,1,0
3,1,0,0,0,0,1,1,0,0,0,1

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
oh_encoder= OneHotEncoder()

In [13]:
oh_encoder.fit_transform (df).toarray()

array([[0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0.],
       [1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 1.]])

In [14]:
df.join (pd.DataFrame(oh_encoder.fit_transform (df).toarray()))

,color,type,size,temp,0,1,2,3,4,5,6,7,8,9,10
0,red,A,2,hot,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,blue,A,1,cold,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,green,B,1,cold,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
3,blue,C,0,hot,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0